<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="aivo_api/assets/style.css"> -->
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }

            .fb-logout-button{

  
                    margin: 0 auto;
                    width: 240px;
                    height: 30px;
                    background-color: #4267b2;
                    margin-top: 20px;
                    text-align: center;
                    padding: 5px;
                    border-radius: 5px;
                    color: #fff;
                
                
            }

        </style>
    </head>
    <body>
        <h1>Facebook Api</h1>
        <p>Este es un sitio de Prueba</p>
        <div>
        </div>

  
    </body>


    <div id="fb-root"></div>


<script>

 //     window.fbAsyncInit = function() {
   //      FB.init({
   //       appId      : '1621949601216042',
   //       xfbml      : true,
   //       version    : 'v2.11'
   //     });
   //     FB.AppEvents.logPageView();

       window.fbAsyncInit = function() {
         FB.init({
           appId      : '1621949601216042',
           xfbml      : true,
           version    : 'v2.11'
         });
         FB.AppEvents.logPageView();

        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {

                alert("Session Iniciada con Exito!");
                console.log(response.authResponse.accessToken);
    //          console.log(FB.getAuthResponse().userID);
                var id = FB.getAuthResponse().userID;
                  FB.api('/'+id, function(response) {
                     console.log('Hello ' + response.name);     
                });
                
            }
        });

      };

      


  function openFacebook(){

       window.fbAsyncInit = function() {
         FB.init({
           appId      : '1621949601216042',
           xfbml      : true,
           version    : 'v2.11'
         });
         FB.AppEvents.logPageView();





        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {

                alert("Session Iniciada con Exito!");
                console.log(response.authResponse.accessToken);
    //          console.log(FB.getAuthResponse().userID);
                var id = FB.getAuthResponse().userID;
                  FB.api('/'+id, function(response) {
                     console.log('Hello ' + response.name);     
                });
                
            }
            
            var id = FB.getAuthResponse().userID;
              FB.api('/'+id, function(response) {
                 console.log('Hello ' + response.name);     
            });

        });

      };

      // FB.login(function(response) {
      //     if (response.authResponse) {
      //      console.log('Welcome!  Fetching your information.... ');
      //      FB.api('/'+FB.getAuthResponse().userID, function(response) {
      //        console.log('Good to see you, ' + response.name + '.');
      //      });
      //     } else {
      //      console.log('User cancelled login or did not fully authorize.');
      //     }
      // });
  
  }


  function closeFacebook(){
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                FB.logout(function(response) {
                    alert("Session cerrada con Exito!");
                });
            }else{
                alert("La session esta cerrada");
            }
        });

  }

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!--     <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.11&appId=1621949601216042';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->



</html>
